.container {
  padding-top: 150px;
}

.news-ticker-container {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
  box-sizing: border-box;
}

.news-ticker-label {
  font-weight: bold;
  margin-right: 15px;
  flex-shrink: 0;
  text-transform: uppercase;
}

.news-ticker-wrapper {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.news-ticker-content {
  padding-left: 100%;
  animation: scroll-left var(--scroll-speed) linear infinite;
  animation-play-state: running;
  height: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.ticker-item {
  margin-right: 25px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  flex-shrink: 0;
}

.news-ticker-container:hover .news-ticker-content {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.news-ticker-content {
  --scroll-speed: 20s;
}

.heroImage {
  width: 100%;
  height: 100%;
}

.heroImageContainer {
  margin-bottom: 48px;
}
