.container {
  padding-top: 160px;
  padding-bottom: 96px;
}

.headerImage {
  width: 100%;
  height: 100%;
}

.headerImageContainer {
  margin-bottom: 96px;
}

.filterBtn {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  border: 1px solid #000;
  border-radius: 100px;
  margin-right: 12px;
}

.filterBtn:hover {
  background-color: #000;
  color: #fff;
}

.filterBtnWrapper {
  display: flex;
}

.filterBtnWrapper:last-child .filterBtn {
  margin-right: 0;
}

.categoryLabel {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.articleCol {
  border: 1px solid #000;
  padding: 48px;
}

.articleImage {
  width: 100%;
  height: 100%;
}

.articleImageContainer {
  margin: 32px 0;
}

.authorInfoContainer {
  margin-right: 16px;
}

.authorInfoContainer:first-child span {
  margin-right: 8px;
}

.durationContainer:last-child span {
  margin-right: 8px;
}

.authorLabel,
.durationLabel {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.authorText,
.durationText {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.categoryText {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  border: 1px solid #000;
  border-radius: 100px;
}

.filterRow {
  margin-bottom: 64px;
}

.articleTitle {
  font-size: clamp(24px, 5vw, 32px);
  font-weight: 600;
  color: #000;
  margin-bottom: 12px;
}

.articleDescription {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
